@import "variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Long+Cang|Special+Elite&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "cards.scss";
@import "images.scss";
@import "media.scss";
@import "redacted.scss";
@import "typography.scss";
@import "underline.scss";

body {
  background: radial-gradient(ellipse at center,  #f8f5e1 0%,#e1d4ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgba(0, 0, 0, .87);
  font-family: 'Special Elite', cursive;
  max-width: 100%;
}

.container {
  max-width: 1920px;
}