@import "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Long+Cang|Special+Elite&display=swap');
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "media.scss";

body {
  background: radial-gradient(ellipse at center,  #f8f5e1 0%,#e1d4ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: rgba(0, 0, 0, .87);
  font-family: 'Special Elite', cursive;
}

a {
  color: #000;
  text-decoration: underline;

  :hover {
    color: #000;
    text-decoration: #FF0000 underline;
  }

  &.subtitle_projects {
    text-decoration: none;

    :hover {
      text-decoration: #FF0000 underline;
    }
  }
}

.link-home {
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

img.fullProject {
  width: 90%;
}

.subtitle_projects {
  font-family: 'Long Cang', cursive;
  color: #FF0000;
  margin-top: 1.5rem;
}

.container {
  max-width: 1920px;
}

.h0 {
  font-size: 3.5rem;
}

.card.legal_warning {
  border: 2px solid #000;
  background: rgba(0, 0, 0, 0);
}

.card.image {
  padding-bottom: 1.5rem !important;
}

p.legal_warning {
  background: #f6f2dd;
  font-size: 1.5rem;
  margin-top: -3.25rem;
  width: fit-content;
}

.profile_pic {
  width: 100%;
}

.redacted {
  background-color: #000;
  color: #FFF;
  font-size: 1.5rem;
  display: inline-block;
}

i.redacted {
  background-color: #000;
  color: #FFF;
}